name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup Haskell
      uses: haskell-actions/setup@v2
      with:
        enable-stack: true
        stack-version: 'latest'

    - name: Cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.stack
          hh200/.stack-work
        key: ${{ runner.os }}-stack-${{ hashFiles('hh200/stack.yaml.lock', 'hh200/package.yaml') }}
        restore-keys: |
          ${{ runner.os }}-stack-

    - name: Install alex and happy
      run: stack install alex-3.5.2.0 happy-2.1.4
      working-directory: hh200

    - name: Build
      run: stack build
      working-directory: hh200

    - name: Run tests
      run: stack test
      working-directory: hh200
